.EditExercise {
  display: flex;
  text-align: left;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

.EditExercise form {
  display: flex;
  flex-direction: column;
}

.EditExercise form input {
  margin: 10px 0px;
  padding: 8px;
}

.EditExercise select {
  margin: 10px 0px;
  padding: 8px;
}
